<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
<add key="PAYGATEID" value="10011072130"/>
<add key="PAYGATEKEY" value="secret"/>
</appSettings>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\TimelyTastes.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: FA4B33A4-4BFA-4288-CEF8-4B4A9D9F7E10-->